@using MyBlog.Models.Users
@model SelectUserModel


<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="pull-right">
                    <button id="closeAddUserForm" class="btn btn-default btn-xs">X</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-xs-10 col-lg-offset-2 col-xs-offset-2" style="text-align: center;">
                <h3>Add User</h3>
            </div>
        </div>

        @{
            var ajaxOptionsAddUser = new AjaxOptions
            {
                //UpdateTargetId = "result",
                Url = Url.Action("AddUser"),
                OnComplete = "completeAddUserForm"
            };
        }

        @using (@Ajax.BeginForm("AddUser", ajaxOptionsAddUser))
        {

            <div class="form-horizontal">
                @Html.Partial("SelectUserModel")

                <div class="form-group" style="margin-top: 25px; padding-bottom: 15px;">
                    <div class="col-lg-3 col-xs-3 col-lg-offset-4 col-lg-offset-4">
                        <button type="submit" id="okAddUser" class="btn btn-success form-control">Add User</button>
                    </div>

                    <div class="col-lg-3 col-xs-3">
                        <button type="reset" class="btn btn-default form-control ">Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
