@using System.Activities.Statements
@using System.Text
@using MyBlog.Helpers
@using MyBlog.Models.Users
@model PageInfo

<div class="row">
    <div class="col-lg-12">
        <div class="btn-group btn-group-xs pull-right">
            <button id="prevUsersPage" class="btn btn-default"><i class="fa fa-angle-double-left"></i></button>

            @Html.PageLinks(@Model)

            <button id="nextUsersPage" class="btn btn-default"><i class="fa fa-angle-double-right"></i></button>
        </div>
    </div>
</div>

<script>
    AppU.urls.getUserByPage = '@Url.Action("UsersManagement")';
</script>



