body {
    background-image: url(../Imgs/Users/stars4.jpg);
}

/*Validation Errors*/
.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

.js-lastNameEdit.input-validation-error {
    border-color: red;
}

.js-firstNameEdit.input-validation-error {
    border-color: red;
}

.js-eMailEdit.input-validation-error {
    border-color: red;
}

.validation-summary-errors {
    display: none;
}

/*UserManagement*/

/*Table*/
.myTh th{
    text-align: center;
    background-color: #cbd4db;
}

.editUserLink:hover {
    text-decoration: none;
    cursor: pointer;
}

.deleteUserLink:hover {
    text-decoration: none;
    cursor: pointer;
}

/*Form*/
#addUserForm {
    background-color: rgb(186, 187, 187);
}

#editUserForm {
    background-color: rgb(186, 187, 187);
}